{
  "extends": "airbnb",
  "env" : { "mocha": true },
  "globals" : {
    "assert": true,
    "artifacts": true,
    "contract": true,
    "web3": true
  },
  "rules": {
    "func-names": [0],
    "prefer-arrow-callback": [0],
    "max-len": [0],
    "no-underscore-dangle": [0]
  },
}
